<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="sidebar-wrapper">
    <BR><BR>
    <div class="logo">
        
            <div class="logo-img">
                <img src="/assets/image/LOGO.png"/>
            </div>
            <span>TRAV-OPS</span>

    </div>
    <ul class="nav">
        <div class="wrapper">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]='[menuItem.path]'>    
                <span class="material-icons">{{menuItem.icon}}</span>    
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        </div>
    </ul>
</div>
