.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Make the sidebar full height */
    width: 250px; /* Adjust the width as needed */
    background-color: black; /* Set the background color to black */
    z-index: 1000; /* Ensure the sidebar stays above other content */
    overflow-y: auto; /* Add scrolling if content overflows */
}

.nav {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

.nav li {
    padding: 2px;  /* Reduced from 10px */
    margin-left: 5px;  /* Reduced from 10px */
}

.nav li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 15px;  /* Reduced from 10px 15px */
    font-size: 15px;  /* Added to make text slightly smaller */
}

.nav li a span.material-icons {
    margin-right: 10px;  /* Reduced from 15px */
    font-size: 20px;  /* Reduced from 24px */
}

.nav li a p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper{
    margin-top: 20px;  /* Reduced from 40px */
}
.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background color on hover */
}

.nav li.active {
    background-color: rgba(255, 255, 255, 0.2); /* Highlight active item */
}
.logo {
    text-align: center; /* Center the content horizontally */
    margin-bottom: 10px;  /* Reduced from 20px */
}

.logo-img img {
    width: 80px; /* Set the width of the logo image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
.logo span {
    color: white; /* Set the color of the text */
    font-size: 20px; /* Set the font size of the text */
    display: block; /* Display the text as a block element */
    margin-top: 15px; /* Add some space above the text */
}