<div class="card">



    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <div class="card-header">
            <div class="header-container">
                <h2 class="card-title">Event Request Form</h2>
                <div class="input-field">
                    <button type="submit" class="btn">SUBMIT</button>
                    <button type="button" class="btn" (click)="onUndo()">CLEAR</button>
                </div>
            </div>
        </div>

        <mat-tab-group>
            <mat-tab label="Personal Information">
                <div class="tab-container">
                    <div class="input-field">
                        <label class="label">Name:</label>
                        <input [(ngModel)]="signup.name" name="name" type="text" placeholder="Name">
                    </div>
                    <div class="input-field">
                        <label class="label">Email:</label>
                        <input [(ngModel)]="signup.email" name="email" type="text" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <label class="label">Department:</label>
                        <input [(ngModel)]="signup.department" name="department" type="text" placeholder="Department">
                    </div>
                    <div class="input-field">
                        <label class="label">Branch:</label>
                        <input [(ngModel)]="signup.branch" name="branch" type="text" placeholder="Branch">
                    </div>
                    <div class="input-field">
                        <label class="label">Manager:</label>
                        <input [(ngModel)]="signup.manager" name="manager" type="text" placeholder="Manager's Name">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Event Details">
                <div class="tab-container">
                    <div class="input-field">
                        <label class="label">Event Name:</label>
                        <select [(ngModel)]="signup.eventType" name="eventType" id="eventType">
                            <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
                        </select>

                    </div>
                    <div class="input-field">
                        <label class="label">Purpose:</label>
                        <select [(ngModel)]="signup.purpose" name="purpose">
                            <option value="">Select Attendance Purpose</option>
                            <option value="learning">Learning</option>
                            <option value="networking">Networking</option>
                            <option value="presenting">Presenting</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label class="label">Date:</label>
                        <input [(ngModel)]="signup.date" name="date" type="date">
                    </div>
                    <div class="input-field">
                        <label class="label">Location:</label>
                        <input [(ngModel)]="signup.location" name="location" placeholder="Location">
                    </div>
                    <div class="input-field">
                        <label class="label">Organizer:</label>
                        <input [(ngModel)]="signup.organizer" name="organizer" placeholder="Organizer">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Travel Details">
                <div class="tab-container">
                    <div class="input-field">
                        <label class="label">Mode of Travel:</label>
                        <select [(ngModel)]="signup.mode" name="mode">
                            <option value="">Mode of Travel</option>
                            <option value="flight">Flight</option>
                            <option value="train">Train</option>
                            <option value="car">Car</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label class="label">Registration Cost:</label>
                        <input [(ngModel)]="signup.registrationCost" name="registrationCost" type="number"
                            placeholder="Registration Cost">
                    </div>
                    <div class="input-field">
                        <label class="label">Travel Cost:</label>
                        <input [(ngModel)]="signup.travelCost" name="travelCost" type="number"
                            placeholder="Travel Cost">
                    </div>
                    <div class="input-field">
                        <label class="label">Hotel Cost:</label>
                        <input [(ngModel)]="signup.hotelCost" name="hotelCost" type="number"
                            placeholder="Accommodation Cost">
                    </div>
                    <div class="input-field">
                        <label class="label">Misc. Cost:</label>
                        <input [(ngModel)]="signup.miscCost" name="miscCost" type="number" placeholder="Misc. Cost">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Additional Details">
                <div class="tab-container">
                    <div class="input-field">
                        <label class="label">Why is this event beneficial to your role or the company?</label>
                    </div>
                    <div class="input-field"><textarea [(ngModel)]="signup.description" name="description"
                            style="height: 150px;" placeholder="Short paragraph or bullet points"></textarea></div>
                    <label>
                        <input type="checkbox" required>
                        I consent that I have viewed the <a href="./policy" target="_blank">Corporate Travel Policy</a>.
                    </label>

                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>