<form (ngSubmit)="onFormSubmit()" #claimForm="ngForm">
    <div class="tab-container">
        <div class=" input-field button-section">
            <button *ngIf="isSubmit" (click)="goBack.emit()" type="button" class="back btn">Back</button>
        </div>
        <div class="input-field">
            <label class="label">Vendor:</label>
            <input [(ngModel)]="claim.vendor" name="vendor" type="text" placeholder="Vendor" required>
        </div>
        <div class="input-field">
            <label class="label">Associated Event:</label>
            <select [(ngModel)]="claim.events" name="events" required>
                <option *ngFor="let event of events" [value]="event.name">{{ event.name }}</option>
            </select>
        </div>
        <div class="input-field">
            <label class="label">Category:</label>
            <select [(ngModel)]="claim.category" name="category" required>
                <option value="Travel">Travel</option>
                <option value="Food">Food</option>
                <option value="Accommodation">Accommodation</option>
                <option value="Misc.">Misc.</option>
            </select>
        </div>
        <div class="input-field">
            <label class="label">Date:</label>
            <input [(ngModel)]="claim.date" name="date" type="date" required>
        </div>
        <div class="input-field">
            <label class="label">Amount:</label>
            <input [(ngModel)]="claim.amount" name="amount" type="number" placeholder="Amount" required>
        </div>
        <div class="input-field">
            <label class="label">Currency:</label>
            <select [(ngModel)]="claim.currency" name="currency" required>
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select>
        </div>
        <div class="input-field">
            <label class="label">Description:</label>
            <input [(ngModel)]="claim.description" name="description" type="text" placeholder="Description" required>
        </div>
        <div class="input-field">
            <label class="label">Attach Receipt:</label>
            <input [(ngModel)]="claim.receiptUrl" name="receiptUrl" type="file">
        </div>
        <div class="input-field">
            <button *ngIf="!isSubmit" type="submit" class="btn">Submit Claim</button>
        </div>
    </div>
</form>