.navbar {
    background-color: rgb(9, 85, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
  }
  
   
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: white;
    margin-right: 20px;
    margin-left: 50px;
    font-size: medium;
    list-style-type: none;
  }
  .menu{
    font-size: small !important;
  }
  .nav-link:hover {
    color: rgb(177, 228, 242); /* Lighten the background color on hover */
}
  .spacer {
    flex: 1;
  }
  .icon{
    margin-top: 20px;
  }

  .mat-menu-content .mat-menu-item {
    font-size: small; /* Adjust the font size of the menu items */
    padding: 8px 16px; /* Adjust the padding around the menu items */
  }
  .button{
    font-size: x-small !important
  }